---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
---

<script>
    document.addEventListener("swup:enable", () => {
      const navTitle = document.getElementById("nav_title");

      if (navTitle) {
        navTitle.innerHTML = "404";
      }

      //@ts-ignore
      window.swup.hooks.on("page:view", () => {
        const navTitle = document.getElementById("nav_title");
        if (navTitle) {
            navTitle.innerHTML = "404";
        }
      });
    });
  </script>

<Layout title="404">
    <main class="container flex flex-col w-full justify-center items-center min-h-[calc(100vh-350px)] outline-none border-0">
        <h1 class="text-9xl font-bold text-center bg-gradient-to-r from-blue-600 to-blue-400 bg-clip-text text-transparent font-archivo">404</h1>
        <h3 class="text-2xl font-bold text-center dark:text-gray-200 text-gray-800 font-archivo">Awww</h1>
        <p class="text-center text-gray-500 max-w-96 font-poppins">It seems like you got lost. Here's a button to get you back to the home page:</p>

        <a class="mt-10 rounded-xl font-extrabold text-xs dark:bg-white dark:text-black bg-black text-white px-5 py-3 hover:opacity-85 transition-all font-poppins" href="/" aria-label="home">TAKE ME HOME</a>
    </main>
</Layout>