---
const props = Astro.props;
---

<a
  {...props}
  class="text-sm font-semibold text-blue-600/80 hover:text-blue-600 hover:underline transition-all max-w-3xl font-poppins inline-block hover:scale-105"
><slot /></a>
